
<p>This is where I put stuff about me.</p>

<form method="POST" action="/contact">
  <label for="email">Email</label>
  <input type="text" name="email">

  <label for="name">Name</label>
  <input type="name" name="name">

  <label for="name">Message</label>
  <input type="textarea" name="message">

  <input type="submit">
</form>