<!DOCTYPE html>
<html>
<head>
	<title>Sinatra</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/scripts.js"></script>
</head>
<body>
	<h1>Welcome to my App!<span style="float: right"><img src="images/matz.jpg"></span></h1>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/about">About</a></li>
	</ul>

	<div class="main-container">
	<%= yield %>
	</div>
</body>
</html>